<!-- <html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    </head>

    <body ng-app="">
        <div>
            <p>Enter Number1: <input type="number" ng-model="num1"></p>
            <p>Enter Number2:<input type="number" ng-model="num2"></p>            
        </div>
        <br>

        <div>
            <p>{{num1}}+{{num2}} = {{num1+num2}}</p>
        </div>

        <div>
            <p>{{num1}}*{{num2}} ={{num1*num2}}</p>
        </div>
        <div>
            <p>{{num1}}-{{num2}} ={{num1-num2}}</p>
        </div>
        <div>
            <p>{{num1}}/{{num2}} ={{num1/num2}}</p>
        </div>
    </body>
</html> -->


<html ng-app="calculatorApp">

<head>
    <title>AngularJS Calculator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        angular.module('calculatorApp', [])
            .controller('CalculatorController', function ($scope) {
                $scope.num1 = 0;
                $scope.num2 = 0;
                $scope.result = 0;

                $scope.add = function () {
                    $scope.result = $scope.num1 + $scope.num2;
                };

                $scope.subtract = function () {
                    $scope.result = $scope.num1 - $scope.num2;
                };

                $scope.multiply = function () {
                    $scope.result = $scope.num1 * $scope.num2;
                };

                $scope.divide = function () {
                    $scope.result = $scope.num1 / $scope.num2;
                };
            });
    </script>
</head>

<body ng-controller="CalculatorController">
    <h1>AngularJS Calculator</h1>

    Number 1:
    <input type="number" id="num1" ng-model="num1">

    Number 2:
    <input type="number" id="num2" ng-model="num2">

    <br>

    <button ng-click="add()">Add</button>
    <button ng-click="subtract()">Subtract</button>
    <button ng-click="multiply()">Multiply</button>
    <button ng-click="divide()">Divide</button>

    <br>

    Result:
    <input type="number" id="result" ng-model="result" disabled>
</body>

</html>
